# LOOP

In [1]:
x = 0

A while statement in python sets aside a block of code that is to be executed repeatedly until a condition is falsified. The structure of a while loop allows the total number of iterations, or repetitions, to be unknown from the start.

In [2]:
while x < 10 :
    print (x)
    x += 1

0
1
2
3
4
5
6
7
8
9

A single while statement  , ; == to separate the statement

In [9]:
x= 0

while x < 10 :print(x) ; x += 1

0
1
2
3
4
5
6
7
8
9

Nested while -- in many cases we will write one loop inside one loop

In [13]:
x = 0

In [ ]:
while x < 6 : 
    y = 0 
    while y < 10: 
        print (x,y)
    y += 1
x += 1

In [2]:
number = [1,2,3,4,5,6,7]

for a in number:
    print (a)

1
2
3
4
5
6
7

In [3]:
number = (1,2,3,4,5,6,7)

for a in number:
    print (a)

1
2
3
4
5
6
7

range(end,start=0,step=1)

In [5]:
range(10)

range(0, 10)

In [18]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [15]:
list(range(10,15,1))

[10, 11, 12, 13, 14]

In [19]:
numbers = (1,2,3,4,5,6)

for x in range(1,7):
    print(x)

1
2
3
4
5
6

In [21]:
for letter in 'python':
    print(letter)

p
y
t
h
o
n

In [23]:
for x in range(1,6):
    for y in range(1,10):
        print(x,y)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9

In [25]:
number = [[1,2,3],[4,6,7,8],[1,2,3]]
for a in number:
    for b in a:
        print(b)

1
2
3
4
6
7
8
1
2
3

Break with For

In [27]:
for x in range(10): # just stop the loop 
    if x == 5 :
        break 
    print (x)

0
1
2
3
4

In [29]:
for x in range(10): # continue Without 5 
    if x == 5 :
        continue 
    print (x)

0
1
2
3
4
6
7
8
9

In [36]:
print('Number           square')
print('------------------------')



for x in range(1,11):
    print (x,'\t',x*x)

Number           square
------------------------
1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [45]:
start = int(input('enter star : '))

end = int(input('enter End'))
print(type(start))

print ('Number \t saquer ')
print ('-----------------')
for x in range(start,end):
      print(x,'\t',x*x)

enter star : 1
enter End11
<class 'int'>
Number 	 saquer
-----------------
1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [50]:
start = int(input('enter star : '))

endx = int(input('enter Endx'))


for x in range(start):
    for y in range(endx):
        print('*',end='')
    print()

enter star : 5
enter Endx10
**********
**********
**********
**********
**********

In [58]:
for x in range(1,9):
    for y in range(x):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********

In [61]:
list = [1,2,3,4,6,78,0,9,8]

In [63]:
list.sort()
list

[0, 1, 2, 3, 4, 6, 8, 9, 78]

In [64]:
list.reverse()
list

[78, 9, 8, 6, 4, 3, 2, 1, 0]

In [65]:
list.sort(reverse=True)
list

[78, 9, 8, 6, 4, 3, 2, 1, 0]

In [71]:
list.append(100)
list

[78, 9, 8, 6, 4, 100, 100, 3, 2, 1, 0, 100, 100, 100]

In [73]:
list.insert(5,100)
list

[78, 9, 8, 6, 4, 100, 100, 100, 100, 3, 2, 1, 0, 100, 100, 100]

In [77]:
list.pop(9)
list

[78, 8, 6, 4, 100, 100, 100, 100, 3, 1, 0, 100, 100, 100]

In [79]:
list.clear()
list

[]

In [86]:
list.append(100)
list.append(6)
list.append(7)
list

[100, 100, 6, 7, 100, 6, 7]

In [87]:
list[0]

100

In [88]:
list[3]

7

In [90]:
list[1:3]

[100, 6]

In [94]:
e = list(range(10,101,10))
e

NameError: name 'l' is not defined